@use "./variables/typography" as t;
@use "./variables/colors" as c;
@use "./functions" as fns;

// @font-face rules
@include t.typography-font-face;

// Global variables
:root {
  // Typography
  @include t.typography-root-variables;

  // Colors
  @include c.colors-vars;
}

/**
 * Global styles ****************************************************
 */

body {
  font-family: var(--body-font-family);
  color: var(--neutral-color-300);
  background: var(--neutral-color-50);
  overflow-x: hidden;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color-blue);
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
::after,
::before {
  transition-duration: 300ms;
}

ul,
blockquote {
  margin: 0;
  padding: 0;
}

p,
a {
  font-size: var(--body-font-size);
}

button {
  cursor: pointer;
}
