@use "sass:map";

@use "../functions" as fn;

$body-font-family: "Public Sans";

$base-font-size: fn.px-to-rem(18);

@mixin typography-font-face {
  @font-face {
    font-family: $body-font-family;
    src: url("/assets/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
    font-weight: 300, 400, 700;
  }
}

@mixin typography-root-variables {
  --body-font-family: #{$body-font-family};
  --body-font-size: #{$base-font-size};
}
