@use "../variables/responsive-web-design" as rwd;
@use "../functions" as fns;

.hide-desktop {
  @include rwd.min-breakpoint-mediaquery("lg") {
    display: none !important;
  }
}

.hide-mobile {
  @include rwd.max-breakpoint-mediaquery("lg") {
    display: none !important;
  }
}

:root {
  $height: (
    "": fns.px-to-rem(64),
    "md": fns.px-to-rem(72),
    "lg": fns.px-to-rem(80),
  );

  @each $bp, $size in $height {
    @include rwd.min-breakpoint-mediaquery($bp) {
      --navbar-height: #{$size};
    }
  }
}

.navbar {
  height: var(--navbar-height);
  background-color: var(--neutral-color-0);
  position: sticky;
  top: 0;
  z-index: 10;
  transition: box-shadow 0.3s;

  &.shadowed {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }

  &__nav-toggle {
    border: none;
    background: none;
    padding: 0.5rem;
    margin-right: -0.5rem;

    svg[aria-hidden="true"] {
      display: none;
    }
  }
}

#navbar-menu-overlay {
  display: block;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsla(var(--primary-color-blue-hsl), 0.75),
    hsla(var(--primary-color-blue-hsl), 0)
  );
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  z-index: 9;

  &.leave {
    animation-name: fade-out;
    animation-timing-function: ease-in;
  }
}

.navbar-navlinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - var(--container-padding-x) * 2);
  margin: var(--container-padding-x);
  z-index: 11;
  text-align: center;

  &__list {
    background-color: #fff;
    border-radius: 4px;
    padding: fns.px-to-rem(12) 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &.enter-from &__list {
    transform: translateY(-12px);
    opacity: 0;
  }

  &.enter-to &__list,
  &.leave-from &__list {
    transform: translateY(0);
    opacity: 1;
    transition-timing-function: ease-in;
  }

  &.leave-to &__list {
    transform: translateY(-12px);
    opacity: 0;
  }

  &__link {
    display: block;
    padding: fns.px-to-rem(12) 0;
    color: var(--primary-color-blue);
    background-color: rgb(0 0 0 / 0);
    transition-duration: 0.3s;

    &:hover {
      background-color: rgb(0 0 0 / 0.15);
    }
  }

  @include rwd.min-breakpoint-mediaquery("lg") {
    position: static;
    width: auto;
    margin: 0;
    height: 100%;

    &__list {
      background: none;
      column-gap: fns.px-to-rem(30);
      padding: 0;
      height: 100%;
    }

    &__link {
      font-weight: 300;
      font-size: fns.px-to-rem(14);
      color: var(--neutral-color-300);
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        display: block;
        opacity: 0;
        width: 0;
        height: 4px;
        background-image: linear-gradient(
          to right,
          var(--primary-color-green),
          var(--primary-color-cyan)
        );
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 0.3s;
      }

      &:hover {
        color: var(--primary-color-blue);
        background: none;

        &::after {
          width: 100%;
          opacity: 1;
        }
      }

      &:focus {
        color: var(--primary-color-blue);
      }
    }
  }
}
